@font-face {
    font-family: ArchivoSemiBold;
    src: url('../font/ArchivoSemiBold.ttf');
}
@font-face {
    font-family: ArchivoItalic;
    src: url('../font/ArchivoSemiBoldItalic.ttf');
}
@font-face {
    font-family: ArchivoBold;
    src: url('../font/Archivo-Bold.ttf');
}
@font-face {
    font-family: ArchivoReg;
    src: url('../font/Archivo-Regular.ttf');
}
@font-face {
    font-family: ArchivoBlack;
    src: url('../font/Archivo-Black.ttf');
}
/* colors */
/*
    primary-#ff1d25 
    secondary-#333
    secondary1-#808080
    third-#e5e5e5
    stroke-#ff1d25
*/


html {
    scroll-behavior: smooth;
}
body{
	margin:0;
	font-family: ArchivoReg;
	overflow-x: hidden;
    background: #333;
    scroll-behavior: smooth;

}

*{
	box-sizing: border-box;
}
/* slider */
.headerSlide{
	height: 100vh;
	overflow:hidden;
	position: relative;
    margin-top: -100px;
}

.headerSlide .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.headerSlide .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes sliderow{
	0%{
        transform: translateY(100px);
        font-size: 30px;
	}
	50%{
        transform: translateY(0);
        font-size: 20px;
	}
    100%{
        transform: translateY(100px);
        font-size: 30px;
	}
}
.container{
	max-width: 1170px;
	margin:auto;
	
}

.headerSlide .container{
	 flex-grow: 1;
}
.headerSlide .caption{
	width:50%;
    border-radius: 10px;
    padding: 40px;
    background: rgba(51, 51, 51, 0.278); 
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}
.headerSlide .caption h1{
	font-size:42px;
	color:#e5e5e5;
	margin:0;
	font-family: ArchivoBold;
}
.headerSlide .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}
.headerSlide .caption p{
	font-size: 18px;
	margin:15px 0 30px;
	color:#e5e5e5;
}
.headerSlide .slide.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
}
.headerSlide .caption a{
    font-family: ArchivoBold;
    display: inline-block;
    padding:10px 30px;
    border: 1px solid #ff1d25;
    background-color: transparent;
    text-decoration: none;
    color:#e5e5e5;
    transition: all .5s;
    border-radius: 5px;
}
.headerSlide .caption a:hover{
    background: #ff1d25;
    transition: all .5s;
}
.headerSlide .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}

.headerSlide .controls .prev,
.headerSlide .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#e5e5e5;
 background-color: #ff1d2593;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
 border-radius: 5px;
 display: none;
}
.headerSlide .controls .prev:hover,
.headerSlide .controls .next:hover{
	background-color: #ff1d25;
}
.headerSlide .controls .prev{
 left:0;
}
.headerSlide .controls .next{
 right:0;
}

.headerSlide .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.headerSlide .indicator div{
	display: inline-block;
	width:25px;
	height:3px;
	color:#e5e5e5;
	background-color: #ff1d2593;
	border-radius:1px;
    text-indent: -9999px;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
    cursor: pointer;
}

.headerSlide .indicator div.active{
    background-color: #ff1d25;
}
.slideimg-1 {
    background: url('../img/images/business-colleague-sitting-at-table-during-corpora-PKY6UY8.jpg');
}
.slideimg-2 {
    background: url('../img/images/futuristic-urban-buildings-at-night-P3KZ337.jpg');
}
.slideimg-3 {
    background: url('../img/images/start-up-meeting-of-colleagues-DRFWYQ9.jpg');
}
/* navbar */
.logoMain svg {
    width: 200px;
}
/* .scrolled-down{
  transition: all 0.3s ease-in-out;

}
.scrolled-up{
   transition: all 0.3s ease-in-out;
    
} */
.navbarEdit {
    background: #333;
    z-index: 123;
    height: 106px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 8%);

}
.navbarEdit>div {
    margin: 0 auto;
}
.navbarEdit .navbar-brand {
    margin: 0;
    padding: 0;
}

.hamburgerMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.hamburger {
    width: 30px;
    height: 3px;
    margin: 3px;
    background: #e5e5e5;
    transition: all .5s;

}

#nav-icon4 {

    position: relative;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }


#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  position: absolute;
  left: 12px;
}



.navbarMenu ul {
    margin-left: auto;
}
.navbarMenu a{
    font-size: 15px;
    font-family: ArchivoSemiBold;
    color: #e5e5e5;
    text-transform: uppercase;
}
.navbarMenu a:hover {
    color: #fff;
}
.navbarMenu a.active {
    font-family: ArchivoBold;
}
/* flexbox */
.flexBox-revert {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    z-index: 3;
}
.flexBox-revert .flexBox-first {
    display: flex;
    flex-direction: column;

}
.flexBox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    z-index: 3;

}
.flexBox-first {
    flex: 0 50%;
}
.flexBox-second {
    flex: 0 50%;
}
/* aboutUs */
.aboutUs-section {
    /* padding: 150px 0; */

}
.aboutUs {
    /* box-shadow: 0 0 25px #33333312; */
    /* border-radius: 5px; */
    /* padding: 100px 0; */
}
.aboutUs h1 {
    color: #e5e5e5;
    font-family: ArchivoBold;
    font-size: 31px;
    margin-bottom: 25px;
    position: relative;
    width: fit-content;
}
.animationBorderLeft {
    position: absolute;
    left: 0;
    bottom: -12.5px;
    width: 0px;
    height: 5px;
    background: #333;
    /* transform: translateX(-100%); */
    border-radius: 2px;
}
.shapeHover:hover .animationBorderLeft{
    width: 100%;
    background: #ff1d25;
    transition: all .5s;
}
.aboutUs p {
    color: #e5e5e5;
    /* text-align: justify; */
    font-family: ArchivoSemiBold;
    font-size: 16px;
}
.pattern {
    width: 100%;
     height: 120px;
    background-image: url('../img/swissPatternStroke.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity:1;
}
.swiss-alert-success {
    color: #e5e5e5;
    font-family: ArchivoSemiBold;
    background: transparent;
    font-size:15px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.24);
}
.swiss-alert-danger {
    color: #333;
    background: #ff1d258f;
    font-family: ArchivoSemiBold;
    font-size:15px;
}
/* services */
.services-section {
    padding: 100px 0 100px 0;
}
.servicesTitle {
    font-size: 31px;
    font-family: ArchivoBold;
    color: #e5e5e5;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}
.servicesTitle span {
    z-index: 22;
    position: relative;
}
.iconBadge {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    z-index: 1;
}
.servicesWrapp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.service {
    flex: 0 48%;
    margin-bottom: 30px;
    background-color: #8080800d;
    box-shadow: 0 0 12px rgba(0, 0, 0, 8%);
    padding: 30px;
    border-radius: 6px;
}
.serviceTitle {
    color: #e5e5e5;
    font-size: 21px;
    font-family: ArchivoBold;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.serviceTitle img {
    /* margin-left: 30px; */
    margin-bottom: 15px;
    height: 80px;
}
.serviceDesc {
    font-size: 16px;
    font-family: ArchivoSemiBold;
    color: #e5e5e5;
}
.logo h6{
    font-family: ArchivoBold;
    color: #e5e5e5;
    text-transform: uppercase;
    font-size: 21px;
    display: flex;
    margin: 0;
}
.logoMainText {
    display: flex;
}
.logoSecText {
    align-self: center ;
    margin-left: 2px;
}
.logoSecText h5 {
    font-family: ArchivoSemiBold;
    font-size: 7.5px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    color: #e5e5e5;
    text-transform: uppercase;
}
.footerSocial a{
    color: #e5e5e5;
    font-size: 20px;
    margin-right: 8px ;
}
.footerSocial a:hover {
    text-decoration: none;
}
.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    /* box-shadow: 0 0 12px rgba(0, 0, 0, 8%);
    background: #8080800d; */
}
footer {
    box-shadow: 0 0 12px rgba(0, 0, 0, 8%);
}
.footerBrand .logo {
    margin-bottom: 15px;
}
.footerInfo ul {
    list-style: none;
    padding-left: 0;
}
.footerInfo ul li a {
    color: #e5e5e5;
    font-family: ArchivoSemiBold;
}
.footerInfo ul li a:hover {
    text-decoration: none;
}
.footerPages ul {
    list-style: none;
    padding-left: 0;
    text-align: right;
}
.footerPages ul li a {
    color: #e5e5e5;
    font-family: ArchivoSemiBold;
    text-transform: uppercase;
}
.footerPages ul li a:hover {
    text-decoration: none;
}
.footerCopyright {
    color: #e5e5e5;
    font-size: 12px;
    font-family: ArchivoSemiBold;
    text-align: center;
    margin-bottom: 10px;
}
.fullHeightCenter {
    display: grid;
    height: calc(100vh - 106px);
    align-items: center;
    position: relative;
}
.contact {
    margin-bottom: 3rem;
}
.address h2 {
    color: #e5e5e5;
    font-family: ArchivoBold;
    font-size: 21px;
    margin: 0 0 1rem 0;
}
.address h4 {
    color: #e5e5e5;
    font-family: ArchivoSemiBold;
    font-size: 15px;
    margin: 0 0 1rem 0;
}
.contact h2 {
    font-size: 15px;

    color: #e5e5e5;
    font-family: ArchivoSemiBold;
    margin: 0 0 1rem 0;
}
.contact h4 {
    font-size: 15px;
    color: #e5e5e5;
    font-family: ArchivoSemiBold;
    margin: 0 0 1rem 0;
}
.googlemap h2 {
    color: #e5e5e5;
    font-family: ArchivoBold;
    font-size: 21px;
    margin: 0 0 1rem 0;
}
.googlemap a {
    border-radius: 5px;
    padding:  9px 20px;
    color: #e5e5e5;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    font-family: ArchivoSemiBold ;
}
.googlemap a:hover {
    text-decoration: none;
}
.swissContactForm {
    margin-bottom: 20px;
}
.swissContactForm button{
    margin: 40px 0 0;
}
.swissContactForm p {
    margin: 0;
}
.swissContactForm input{
    background-color: transparent!important;
    font-family: ArchivoSemiBold;
    font-size: 14px;
    border: 0;
    border-bottom: 2.5px solid #ff1d25a8;
    border-radius: 0;
    color: #e5e5e5;
    transition: all .3s;
}
.swissContactForm input::placeholder {
    font-family: ArchivoBold;
    color: #808080;
}
.swissContactForm input:focus {
    box-shadow: unset;
    outline: none;
    border-radius: 0px;
    color: #e5e5e5;
    background: transparent;
    border-bottom: 2.5px solid #ff1d25!important;
}
.swissContactForm textarea {
    background: transparent;
    font-family: ArchivoSemiBold;
    font-size: 14px;
    border: 0;
    border-bottom: 2.5px solid #ff1d25a8;
    border-radius: 0;
    color: #e5e5e5;
}
.swissContactForm textarea::placeholder {
    font-family: ArchivoBold;
    color: #808080;
}
.swissContactForm textarea:focus {
    outline: none;
    box-shadow: unset;
    background: transparent;
    border-radius: 0;
    border-bottom: 2.5px solid #ff1d25;
    color: #e5e5e5;

}
.swissContactForm button {
    font-size: 15px;
    font-family: ArchivoReg;
    border: 1px solid #e5e5e5;
    background: transparent;
    color: #e5e5e5;
}
.swissContactForm button:hover {
    color: #e5e5e5;
    font-family: ArchivoBold;

    background: #ff1d25;
}
.swissContactForm button:focus {
    box-shadow: none;
    -webkit-appearance: none;
}
.logoBadge {
    position: absolute;
    z-index: 2;
    bottom: 50%;
    top: 50%;
    width: 40%;
    left: 0;
    opacity: .2;
    transform: translateY(-50%);
}
.rowedited {
    align-items: stretch;
}
.imgBg-jobs {
    background-image: url('../img/images/executive-director-woman-briefing-collegues-explan-X4X6N9P.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width:100%;
    height: 100%;
}
.layerBg-jobs {
    background: rgba(51, 51, 51, 0.96);    
    width:100%;
    height: 100%;
}
.imgBg-reachus {
    background-image: url('../img/images/skyview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width:100%;
    height: 100%;
}
.layerBg-reachus {
    background: rgba(51, 51, 51, 0.915);    
    width:100%;
    height: 100%;
}
.imgBg-aboutus {
    background-image: url('../img/images/skyscraper-building-in-hong-kong-city-view-in-blue-3H3T5VA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width:100%;

}
.layerBg-aboutus {
    background: rgba(51, 51, 51, .915);    
    width:100%;
    height: 100%;
}
.halfHeightCenter {
    height: 75vh;
    align-items: center;
}
.heightFull {
    height: calc(100vh - 106px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.spaceTB {
    padding: 80px 0;
}
.heightAuto {
    height: auto;
}
.jobWrapp h1 {
    color: #ff1d25;
    font-family: ArchivoSemiBold;
    font-size: 36px;
}
.animationArr {
    animation: sliderow 3s infinite;
    font-size: 20px;
}
.jobWrapp h6 {
    font-size: 18px;
    color: #e5e5e5;
  
    font-family: ArchivoSemiBold;

}
.jobWrapp a {
    color: #e5e5e5;
    font-size: 18px;
    text-decoration: underline;
}
.jobWrapp h5 {
    color: #e5e5e5;
    font-family: ArchivoBold;
    font-size: 18px;
    padding-bottom: 60px;
    padding-top: 20px;
    margin: 0;
}
.jobInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}
.jobInfo h3 {
    color: #e5e5e5;
    font-size: 16px;
    font-family: ArchivoSemiBold;
}
.jobAbout h4 {
    color: #e5e5e5;
    font-family: ArchivoSemiBold;
    font-size: 18px;
}
.jobAbout p {
    color: #e5e5e5;
    font-size: 14px;
    font-family: ArchivoSemiBold;
}
.jobTasks h2 {
    color: #e5e5e5;
    font-size: 18px;
    font-family: ArchivoSemiBold;
    padding: 20px 0 0;
}
.jobTasks ul li{
    color: #e5e5e5;
    font-family: ArchivoSemiBold;
    font-size: 14px;
}
.jobProfile h2 {
    color: #e5e5e5;
    font-size: 18px;
    font-family: ArchivoSemiBold;
    padding: 20px 0 0;
}
.jobProfile ul li {
    color: #e5e5e5;
    font-size: 14px;
}
/*responsive*/
@media(max-width: 767px){
    .jobWrapp h1 {
        font-size: 25px;
    }
    .jobWrapp h6 {
        font-size: 16px;
        flex-direction: column-reverse;
    }
    .jobWrapp h6 a {
        padding: 20px 0;
    }
    .jobInfo {
        flex-direction: column;
    }
    .jobProfile h2 {
        font-size: 16px;
    }
    .jobTasks h2 {
        font-size: 16px;
    }
    .footerPages ul {
        text-align: left;
    }
    /* #aboutus .flexBox-second {
        display: none;
    } */
    .logoMain {
        height: 106px;
        display: flex;
        align-items: center;
    }
    .flexBox .flexBox-first {
        padding-bottom: 40px;
    }
    .halfHeightCenter {
        height: auto;
        padding: 120px 0;
    }
    .headerSlide .caption {
        width: 100%;
    }
    .flexBox-revert .flexBox-second {
        margin-bottom: 40px;
    }
    .logoMain svg {
        width: 150px;
        padding-left: 16px;
    }
    .navbarEdit {
        padding: 0;
    }
    .navbarEdit>div {
        /* margin-top: 8px; */
    }
    .navbarMenu  {
        background: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .navbarMenu ul {
        justify-content: center;
        
        height: calc(100vh - 106px);
        margin: auto;
    }
    .navbarMenu a {
        font-size: 31px;
    }
    .flexBox-revert {
        flex-wrap: wrap-reverse;
        
    }
    .logoBadge {
        width: 70%;
        top: unset;
        bottom: 10%;
        transform: unset;
    }
    .fullHeightCenter {
        height: auto;
        padding: 60px 0;
    }
    .animationBorderLeft {
        width: 100%;
        background: #ff1d25;
    }
    .footerBrand {
        margin-bottom: 15px;
    }
    .footerInfo {
        /* margin-bottom: 15px; */
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .flexBox {
        flex-wrap: wrap;
    }
    .flexBox-first {
        flex: 0 100%;
    }
    .flexBox-second {
        flex: 0 100%;
    }
    .servicesWrapp {
        justify-content: center;
    }
    .service {
        flex: 0 320px;
    }
    .headerSlide .controls .prev, .headerSlide .controls .next {
        width: 25px;
        height: 25px;
        line-height: 24px;
    }
}













